# Operators in Python

* In Python, operators are special symbols or characters that are used to perform operations on operands (variables, values, or expressions). They allow you to perform mathematical, logical, comparison, assignment, and other operations in your code.

# Arithematic Operators
Arithmetic operators are used in Python to perform basic mathematical calculations. They operate on numerical values and return a new value as a result.

## 1. Addition Operator
Addition operator adds two values.
### x+y

In [3]:
# Adding two numbers

x = 5
y = 8

z = x + y

print(z)

13

In [4]:
# Adding two numbers

x = 100
y = 246

z = x + y

print(z)

346

## 2. Subtraction Operator

Subtraction Operator subtracts two values.

In [5]:
# Lets Subtract two Values

x = 200
y = 100

z = x - y

print(z)

100

In [6]:
# Let's take one more example

x = 100
y = 300

z = x - y

print(z)

-200

# 3. Multiplication Operator
Multiplication operator multiplies two values.
### x*y

In [7]:
# multiplies two values

x = 50
y = 30

z = x*y

print(z)

1500

In [8]:
# Multiplication Example

x = 387
y = 4

z = x*y

print(z)

1548

# 4. Dividend Operator
Dividend operator divides one operand by another.
### x/y

In [9]:
# let's take an example

x = 45
y = 3

z = x/y

print(z)

15.0

In [10]:
# let's take one more example

x = 764
y = 56

z = x/y

print(z)

13.642857142857142

## 5. Modulus Operator

 The Modulus Operators Returns the Remainder of the division between two operands/Values.

 x%y

In [11]:
# Let's take an example to understand the Modulus Operator

x = 10
y = 3

z = x%y

print(z)

1

In [12]:
# Let's take one more example

x = 10
y = 4

z = x%y

print(z)

2

# 6. Exponent Operator
Exponent Operator raises the power of left operand to the right operand.
### x**y

In [13]:
# Let's take an example for Exponent Operator

x = 2
y = 3

z = x**y

print(z)

8

In [14]:
# Let's take one more example

x = 2
y = 4

z = x**y

print(z)

16

## 7. Floor Division Operator
Floor division operator returns quotient rounded off to the nearest integer.
### x//y

In [15]:
# Let's take an example for floor division operator

x = 13
y = 5

z = x//y

print(z)

2

# Assignment Operators
Assignment operators are used to assign a value to the variable.

## 1. Equals to (=) Operator
Equals to (=) operator assigne the value of right hand operand to the left hand operand.

In [16]:
# Let's take an Example

x = 7
y = 3.65

print(x)
print(y)

7
3.65

## 2. Add Equal to (+=) Operator
Add equal to (+=) Operator adds right hand operand to the left hand operand and assign the result to the left hand operand.
###  x+=y       x=x+y

In [17]:
# Let's take an Example

x = 7
y = 4
x+=y

print(x, y)

11 4

In [18]:
# Let's take one more example

x = 10
x += 5

print(x)

15

## 3. Subtract Equal to (-=) Operator
Subtract equal to (-=) operator subtracts right hand operand from the left hand operand and assign the result to the left hand operand.
### x-=y  x=x-y

In [19]:
# Let's take an Example

x = 45
y = 12
x-=y
x

33

## 4. Mutliply Equal to (*=) Operator
Multiply equal to (*=) operator multiplies right hand operand by left hand operand and assign the result to the left hand operand.
### x*=y x=x*y

In [20]:
# Let's take an Example

x = 23
y = 4
x*=y
x

92

## 5. Divide Equal to (/=) Operator
Divide equal to (/=) operator divides left operand by right operand and assign the result to left hand operand.
### x/=y    x=x/y

In [21]:
# Let's take an Example

x = 35
y = 5

x/=y

print(x)

7.0


# Comparison Operator
Comparison operators are used to compare one value to another. The result of a comparison is a Boolean value, which can be either True or False.

## 1. Equal to (==) Operator
Equal to (==) operator checks whether the value of the operands are equal. If yes it returns True.

In [22]:
# let's take an example

2==2

True

In [23]:
# let's take an example

x = 7
y = 6
x==y

False

## 2. Not Equal to (!=) Operator
Not equal to (!=) operator checks If the values of the two operands are not equal, then the condition becomes true.

In [24]:
# let's take an example

4!=7

True

In [25]:
# let's take an example

x = 8
y = 8
x!=y

False

 ## 3. Greater than (>) Operator
Greater than (>) operator checks If the value of the left operand is greater than the value of the right operand, then the condition becomes true.

In [26]:
# let's take an example

5>9

False

In [27]:
# let's take an example

x = 34
y = 12
x>y

True

## 4. Less than (<) Operator
Less than (<) operator checks If the value of the left operand is less than the value of the right operand, then the condition becomes true.

In [28]:
# let's take an example

6<10

True

In [29]:
# let's take an example

x = 87
y = 10

x<y

False

## 5. Greater than equal to (>=) Operator
Greater than equal to (>=) operator checks If the value of the left operand is greater than or equal to the value of the right operand, then the condition becomes true.

In [30]:
# let's take an example

4>=5

False

In [31]:
# let's take an example

x = 76
y = 36
x>=y

True

## 6. Less than equal to (<=) Operator
Less than equal to (<=) operator  checks If the value of the left operand is less than or equal to the value of the right operand, then the condition becomes true.

In [32]:
# let's take an example

12<=13

True

In [33]:
# let's take an example

x = 87
y = 76
x<=y

False

# Logical Operator
Logical operators are used to combine conditional statements.

## 1. AND Operator
And operator Returns True if both statements are true.

In [34]:
# let's take an example

x = 6
x < 10 and x > 1

True

# 2. OR Operator
OR operator Returns True if one of the statements is true.

In [35]:
# let's take an example

x = 8
x<10 or x>12

True

## 3. NOT Operator
NOT operator Reverse the logical state of the operand.

In [36]:
# let's take an example

a = True
not a

False