# INTRODUCTION TO FUNCTIONS IN PYTHON

# Parameters & Arguments

In [4]:
def add_number(a, b):
    sum = a + b
    print("The Sum is:", sum)

# Calling the add_number function with arguments 5 & 3
add_number(5, 3)

The Sum is: 8

In [6]:
# example of Default Parameters

def my_func(a, b=4):
    return (a*b)

my_func(5)

20

In [8]:
# lets try to override the default parameters

my_func(5, 6)

30

In [10]:
# Positional Arguments Example

def func(a,b,c):
    return(a*b+c)

func(3, 2, 4)

10

In [12]:
# Keyword Arguments Example

def marks(math, science, english):
    return math + science + english

# default way of passing values
print(marks(70, 80, 90))

# calling with keywords
print(marks(math = 70, science = 80, english = 90))

# Calling by changing positional argumnets with keywords
print(marks(science = 80, math = 70, english = 90))

240
240
240

In [16]:
# pass by object reference

def modify_list(my_list):
    my_list.append(4)
    my_list[0] = 100

numbers = [1, 2, 3]
modify_list(numbers)

print()

# print modified list
print(numbers)

[100, 2, 3, 4]

# Python Modules

### Importing an entire module

In [20]:
# Importing Math Module

import math

# Accessing variable from math module
print(math.pi)

# Calling a function from the math module
print(math.sqrt(25))

3.141592653589793
5.0

In [33]:
# Importing the randint and choice functions

from random import randint, choice

# Calling the randint() function directly
print(randint(1, 10))

# Calling the choice() function directly
print(choice(["apple", "banana", "kiwi"]))

4
kiwi

### Creating a module

In [ ]:
# create module.py 
# Note : make file calculation.py with python code for functions mathematical operations 


def addition(a, b):
    return a + b

def subtraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    return a / b

def modulus(a, b):
    return a % b

def floor-division(a, b):
    return a // b

In [45]:
# Import the made file

import calculation

addition = calculation.addition(8, 10)

subtraction = calculation.subtraction(8, 10)

division = calculation.division(6, 3)

print(addition)
print(subtraction)
print(division)

18
-2
2.0

# Filter, Map & Zip Functions

# Filter

In [59]:
# Define a function to filter even numbers
def is_even(num):
    return num%2 == 0

# Create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use Filter() to filter even numbers from the list
filtered_numbers = filter(is_even, numbers)

# Convert the filtered result into a list
even_numbers = list(filtered_numbers)

# Print the output
print(even_numbers)

[2, 4, 6, 8, 10]

In [61]:
def is_odd(num):
    return num%2 != 0

# Use Filter() to filter odd numbers from the list
filtered_numbers = filter(is_odd, numbers)

# Convert the filtered result into a list
odd_numbers = list(filtered_numbers)

print(odd_numbers)

[1, 3, 5, 7, 9]

In [63]:
# Filter Function example

# creating list name 'score'
score = [78, 49, 69, 87, 99]

# defining a function to check if the score is greater than 50.

def score_check(score):
    if score > 50:
        return True

    else:
        return False

# Lets apply filter to the list
students_passed = filter(score_check, score)

# print the output
for i in students_passed:
    print(i)

78
69
87
99

# Map

In [67]:
# Convert a list of temperature from celsius to fahrenheit

celsius_temp = [25, 43, 15, 10]

def converter(temp):
    temp = (temp*9/5) + 32
    return temp

fahrenheit_temp = list(map(converter, celsius_temp))

print(fahrenheit_temp)

[77.0, 109.4, 59.0, 50.0]

# Zip

# Ex. 1 - Combining Lists

In [70]:
# Two Lists
names = ['Ash', 'Smash', 'Bash']
ages = [3, 5, 4]

# Zip lists together
combined = zip(names, ages)

# iterate over the combined iterator
for name, age in combined:
    print(name, age)

Ash 3
Smash 5
Bash 4

# Ex. 2 - Unzipping Tuples

In [77]:
# Take list of student haveing name & age

students = [('Ajit',35), ('Manjit',30), ('Winjit',56)]

#Unzip the tuples
names, ages = zip(*students)

# print output
print(names)
print(ages)

('Ajit', 'Manjit', 'Winjit')
(35, 30, 56)

# INTRODUCTION TO LIST, SET, & DICTIONARY COMPREHENSIONS

# List Comprehension

In [81]:
my_list = [2,3,4,5,6,78,9]
squared_list = [val**2 for val in my_list]

print(squared_list)

[4, 9, 16, 25, 36, 6084, 81]

In [83]:
even_list = [var for var in my_list if var%2 == 0]

print(even_list)

[2, 4, 6, 78]

# Set Comprehension

In [88]:
numbers = {x for x in range(1, 10)}

print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [90]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

# Dictionary Comprehension

In [97]:
d = {num:num*num for num in range(1,100)}

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801}

In [103]:
squares_dict = {x:x**2 for x in range(1,60)}

print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481}

# INTRODUCTION TO LAMBDA FUNCTIONS (ANONYMOUS FUNCTIONS)

In [116]:
# Eg.1 : Add Two Numbers

add = lambda x, y : x + y
result = add(3000,500)

print(result)

3500

In [112]:
# Eg.2 : Square a number

square = lambda x: x**2
result = square(20)

print(result)

400

# Analytical Functions

# Eval Functions - eval() function

In [122]:
# eval() function

x = 3

eval('x**2 + 2*x - 2')

13

In [124]:
# len() function

numbers = [2, 45, 76, 89, 90]

len(numbers)

5

In [135]:
# factorial() function

import math

math.factorial(5)

120

In [137]:
# sort() function
runs = [45, 55, 65, 75, 85, 95]

runs.sort(reverse=True)

print(runs)

[95, 85, 75, 65, 55, 45]

# Aggregate Functions

In [140]:
list1 = [3, 4, 5, 6, 7, 1, 1, 4, 7 , 9]

print(max(list1))

9

In [142]:
print(min(list1))

1

In [144]:
print(sum(list1))

47

In [146]:
# import statistics module

import statistics as stat

print(stat.mean(list1))

4.7

In [148]:
print(stat.median(list1))

4.5

In [150]:
print(stat.mode(list1))

4