# INTRODUCTION TO DATA STRUCTURES

# LISTS (mutable)

In [7]:
Fruits = ['Apple', 'Banana', 'Orange']
print(Fruits)

['Apple', 'Banana', 'Orange']

In [9]:
print(Fruits[1])

Banana

### List Methods

In [13]:
# Add element in List
Fruits.append('grape')
print(Fruits)

['Apple', 'Banana', 'Orange', 'grape']

In [15]:
# Inserting
Fruits.insert(2, 'pineapple')
print(Fruits)

['Apple', 'Banana', 'pineapple', 'Orange', 'grape']

In [23]:
# Removing
Fruits.remove("Orange")
print(Fruits)

['Banana', 'pineapple', 'grape']

In [25]:
# pop 
Fruits.pop()
print(Fruits)

['Banana', 'pineapple']

In [27]:
# Sorting
Fruits.sort()
print(Fruits)

['Banana', 'pineapple']

In [29]:
# Getting Length

len(Fruits)

2

# TUPLE (immutable)

In [36]:
fruits = ('apple', 'orange', 'coconut')
print(fruits)

('apple', 'orange', 'coconut')

In [38]:
print(fruits[2])

coconut

In [42]:
print(fruits[0])

apple

### Tuple Operations

In [47]:
# Concatenation

veg =("potato", "tomato", "somato")

combine_tuple = veg + fruits
print(combine_tuple)

('potato', 'tomato', 'somato', 'apple', 'orange', 'coconut')

In [49]:
# Repetition

repeat_tuple = fruits*3
print(repeat_tuple)

('apple', 'orange', 'coconut', 'apple', 'orange', 'coconut', 'apple', 'orange', 'coconut')

In [51]:
# Slicing Operation in Tuple
slice_tuple = fruits[1:]
print(fruits)
print(slice_tuple)

('apple', 'orange', 'coconut')
('orange', 'coconut')

# SETS

In [54]:
fruits = {"apple", "orange"}
vowels = set("aeiou")

In [58]:
"i" in vowels

True

In [60]:
# Add in set 
fruits.add("mango")
print(fruits)

{'mango', 'apple', 'orange'}

In [62]:
# Update Set 

fruits.update({"watermelon", "jackfruit"})
print(fruits)

{'jackfruit', 'apple', 'watermelon', 'mango', 'orange'}

In [70]:
# Remove from Set 

fruits.remove("jackfruit")
print(fruits)

{'apple', 'watermelon', 'orange'}

In [72]:
fruits.remove("kiwi")
print(fruits)

KeyError: 'kiwi'

In [74]:
# Disard
fruits.discard("kiwi")
print(fruits)

{'apple', 'watermelon', 'orange'}

In [76]:
# Popping
fruits.pop()
print(fruits)

{'watermelon', 'orange'}

In [80]:
# Length of Set 
fruits.clear()
print(fruits)

set()

### Set Operations (Mathematical)

In [86]:
set = {1, 2, 3}
set_ = {3, 4, 5, 6}

print(set)
print(set_)

{1, 2, 3}
{3, 4, 5, 6}

In [91]:
# Union Operation

union_set = set | set_

print(union_set)

{1, 2, 3, 4, 5, 6}

In [97]:
# Intersection Operation

intersection_set = set & set_
print(intersection_set)

{3}

In [95]:
# Difference Operation 
diff_set = set - set_
print(diff_set)

{1, 2}

# DICTIONARIES

In [100]:
car = {"Brand": "Ford", 
       "Model": "Mustang",
      "Year": 1964}

print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [104]:
# Get Operator

print(car.get("Brand"))

Ford

In [108]:
print(car["Brand"]) # Using Indexing Method

Ford

In [110]:
# Modify

car["Brand"] = "Maruti"
print(car)

{'Brand': 'Maruti', 'Model': 'Mustang', 'Year': 1964}

In [112]:
# Adding Key - value pair

car["colour"] = "Red"
print(car)

{'Brand': 'Maruti', 'Model': 'Mustang', 'Year': 1964, 'colour': 'Red'}

### Nested dictionary

In [115]:
student_marks = { "Rakesh": {"Age": 27, "Marks":80, "Sub": "Hindi" },
                "Suresh": {"Age": 20, "Marks":89, "Sub": "Marathi" },
                "Mayuresh": {"Age": 25, "Marks":50, "Sub": "English" }}

print(student_marks)

{'Rakesh': {'Age': 27, 'Marks': 80, 'Sub': 'Hindi'}, 'Suresh': {'Age': 20, 'Marks': 89, 'Sub': 'Marathi'}, 'Mayuresh': {'Age': 25, 'Marks': 50, 'Sub': 'English'}}

In [119]:
print(student_marks["Rakesh"])

{'Age': 27, 'Marks': 80, 'Sub': 'Hindi'}

In [123]:
student_marks["Rohan"] = {}
student_marks["Rohan"]["Age"] = 23
student_marks["Rohan"]["Marks"] = 100
student_marks["Rohan"]["Sub"] = "Sanskrit"

In [125]:
print(student_marks)

{'Rakesh': {'Age': 27, 'Marks': 80, 'Sub': 'Hindi'}, 'Suresh': {'Age': 20, 'Marks': 89, 'Sub': 'Marathi'}, 'Mayuresh': {'Age': 25, 'Marks': 50, 'Sub': 'English'}, 'Rohan': {'Age': 23, 'Marks': 100, 'Sub': 'Sanskrit'}}

In [127]:
print(student_marks["Rohan"])

{'Age': 23, 'Marks': 100, 'Sub': 'Sanskrit'}

In [133]:
# Pop from Dictionary
student_marks.pop("Rakesh")
print(student_marks)

{'Suresh': {'Age': 20, 'Marks': 89, 'Sub': 'Marathi'}, 'Mayuresh': {'Age': 25, 'Marks': 50, 'Sub': 'English'}, 'Rohan': {'Age': 23, 'Marks': 100, 'Sub': 'Sanskrit'}}

# STACKS

In [3]:
# Creating an Empty List 

letters = []
print(letters)

[]

In [5]:
# Adding Elements using Push Operations

letters.append("a")
letters.append("ae")
letters.append("aei")
letters.append("aeio")
letters.append("aeiou")

print(letters)

['a', 'ae', 'aei', 'aeio', 'aeiou']

In [7]:
# Removing element using the Pop Operation

letters.pop()
print(letters)

['a', 'ae', 'aei', 'aeio']

### Stack using Deque

In [19]:
# Creating a stack using Deque

from collections import deque

numbers = deque()
print(numbers)

deque([])

In [21]:
# Adding items Push

numbers.append(23)
numbers.append(3)
numbers.append(35)

print(numbers)

deque([23, 3, 35])

In [23]:
# Removing items using pop

numbers.pop()
print(numbers)

deque([23, 3])

# QUEUES

In [9]:
# Creating an Empty List

fruits = []
print(fruits)

[]

In [13]:
# Adding items using enqueue operation

fruits.append('mango')
fruits.append('orange')
fruits.append('kiwi')
fruits.append('apple')

print(fruits)

['mango', 'mango', 'mango', 'mango', 'mango', 'orange', 'kiwi', 'apple']

In [15]:
# Removing item using dequeue operation

fruits.pop(0)
print(fruits)

['mango', 'mango', 'mango', 'mango', 'orange', 'kiwi', 'apple']

### Queues using Deque

In [26]:
# Creating a Queue using Deque

from collections import deque

names = deque()
print(names)

deque([])

In [30]:
# Adding items using Enqueue

names.append('Raja')
names.append('Mark')
names.append('Rinkesh')

print(names)

deque(['Raja', 'Mark', 'Rinkesh', 'Raja', 'Mark', 'Rinkesh'])

In [32]:
# Removing item using dequeue

names.popleft()
print(names)

deque(['Mark', 'Rinkesh', 'Raja', 'Mark', 'Rinkesh'])

# TIME COMPLEXITY

In [36]:
# Example where Time Complexity reamins constant

def print_first_element(lst):
    print(lst[0])

In [38]:
%time print_first_element([1, 2, 3, 4])

1
CPU times: total: 0 ns
Wall time: 0 ns

In [40]:
%time print_first_element([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

1
CPU times: total: 0 ns
Wall time: 0 ns

In [42]:
# Here the Time Complexity increases linerly with the Input Size

def print_list_elements(lst):
    for item in lst:
        print(item)

In [44]:
%time print_first_element([1, 2, 3, 4])

1
CPU times: total: 0 ns
Wall time: 2.01 ms

In [46]:
%time print_first_element([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

1
CPU times: total: 0 ns
Wall time: 0 ns

In [48]:
# the Time Complexity increases quadratically with the Input Size

def print_pairs(lst):
    for i in lst:
        for j in lst:
            print(i, j)

In [50]:
%time print_pairs([1, 2, 3, 4])

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
CPU times: total: 0 ns
Wall time: 0 ns

In [52]:
%time print_pairs([1, 2, 3, 4, 5, 6, 7, 8, 9])

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
CPU times: total: 0 ns
Wall time: 0 ns

# SPACE

In [54]:
# Constant Space Complexity

def sum_of_two_numbers(a, b):
    total = a + b
    return total

In [56]:
sum_of_two_numbers(4, 5)

9

In [58]:
sum_of_two_numbers(444444444, 6757675884)

7202120328

In [60]:
# Linear Space Complexity

def create_list(n):
    lst = []
    for i in range(n):
        lst.append(i)
    return lst

In [62]:
create_list(4)

[0, 1, 2, 3]

In [64]:
create_list(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [66]:
# Quadratic Space Complexity

def generate_matrix(n):
    matrix = [[0] * n for _ in range(n)]
    return matrix

In [68]:
generate_matrix(4)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

# Sorting Algorithm (very very Important)

# Bubble Sort

In [3]:
# Implementation of Bubble Sort

def bubble_sort(arr):
    n = len(arr)
    for i in range(n-1):
        for j in range(n-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Selection Sort

In [8]:
# Implementation of Selection Sort

def selection_sort(arr):
    n = len(arr)
    for i in range(n-1):
        min_idx = i
        for j in range(i+1, n):
            if arr[j] < arr[min_idx]:
                min_idx = j
        arr[i] , arr[min_idx] = arr[min_idx] , arr[i]

# Insertion Sort

In [10]:
# Insertion Sort

def insertion_sort(arr):
    n = len(arr)
    for i in range(i, n):
        key = arr[i]
        j = i-1
        while j >= 0 and arr[j] > key:
            arr[j+1] = arr[j]
            j -= 1
            arr[j+1] = key

# Searching Algorithm

# Linear Search

In [22]:
# Implementation of Linear Search

def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1

In [24]:
# Example of Linear Search

numbers = [4, 2, 9, 7, 1, 6]
target = 9

result = linear_search(numbers, target)
print(result)

2

# Binary Search

In [33]:
# Implementation of Binary Search

def binary_search(arr, target):
    low = 0
    high = len(arr) - 1
    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid]  < target:
            low = mid + 1
        else:
            high = mid - 1
        return -1

In [35]:
# Example of Binary Search

arr = [1, 3, 5, 7, 9, 11, 13]
target = 7 

index = binary_search(arr, target)
print(f"Target found at index : {index}")

Target found at index : 3