# OOPs & Date Time

# Introduction to OOPs

In [3]:
# create class

class Person:
    def __init__(self, name, age):
        self.name = name # initialize the name attribute of the person
        self.age = age # initialize the age attribute of the person

p1 = Person("Nikki", 36)

print(p1.name)
print(p1.age)

Nikki
36

In [5]:
# Update age
p1.age = 26

In [7]:
p1.age

26

In [9]:
del p1.age

In [11]:
p1.age

AttributeError: 'Person' object has no attribute 'age'

# Introduction to Inheritance

In [22]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(self.name , self.age)

p1 = Person("Hiten", 37)

p1.display()

Hiten 37

In [18]:
class student(Person):
    def __init__(self, name, age):
        super().__init__(name, age)

s1 = student("Kiran", 17)

s1.display()

Kiran 17

In [20]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(self.name , self.age)

p1 = Person("Hiten", 37)

p1.display

class student(Person):
    def __init__(self, name, age):
        super().__init__(name, age)

s1 = student("Kiran", 17)

s1.display()

Kiran 17

# Encapsulation

In [27]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(self.name , self.age)

p1 = Person("Hitesh", 37)

p1.display()

Hitesh 37

In [31]:
# update age
p1.age = 26
p1.display()

Hitesh 26

# Polymorphism

In [34]:
class SBI:
    def rate_of_interest(self):
        return 8

class ICICI:
    def rate_of_interest(self):
        return 4
        
class HDFC:
    def rate_of_interest(self):
        return 7

In [36]:
def common_interest(bank):
    return bank.rate_of_interest()

In [38]:
# Creating Objects

s = SBI()
ic = ICICI()
h = HDFC()

In [40]:
common_interest(s)

8

In [42]:
common_interest(ic)

4

In [44]:
common_interest(h)

7

# Date Class

In [47]:
from datetime import date

mydate = date(year=1998, month=7, day=20)

print("Date is:", mydate)

Date is: 1998-07-20

In [49]:
print("Current Date: ", date.today())

Current Date:  2025-10-03

In [51]:
print(date.today().month)

10

In [53]:
print(date.today().year)

2025

In [55]:
print(date.today().day)

3

# Time Class

In [58]:
from datetime import time

mytime = time(hour=12, minute=30, second =45)

print(mytime)

12:30:45

In [60]:
mytime = time(minute=45)

In [62]:
print(mytime)

00:45:00

In [71]:
print(mytime.hour)

0

In [73]:
print(mytime.minute)

45

# TimeDelta Class

In [76]:
from datetime import datetime, timedelta

todays_date = datetime.now()

dateafter_months = todays_date + timedelta(days=90)

print(dateafter_months)

2026-01-01 03:14:27.896962

In [78]:
### Printing dates and time for 3 moths ago

datebefore_months = todays_date - timedelta(days=90)

print(datebefore_months)

2025-07-05 03:14:27.896962

In [80]:
### Total number of seconds in a month

seconds_in_a_month = timedelta(days=30).total_seconds()

print(seconds_in_a_month)

2592000.0