## Built-in Functions for Regular Expressions

* The Built-in function serves a specific purpose in working with regular expressions in Python, allowing you to search, match, extract, split, and replace text based on specific patterns.

* Findall Function: Returns all non-overlapping matches of the pattern in the string as a list.

In [7]:
import re

In [8]:
# lets take an example
s1 = "India is my country, I love my country"

# lets use the findall function to check occurences of following patterns
print(re.findall('country', s1))
print(re.findall('she', s1))

['country', 'country']
[]

* Search Function: Searches for a pattern match anywhere in the given string and returns a match object if found. It searches for the first occurrence of the pattern.

In [9]:
# lets take an example
s1 = "India is my country, I live in Delhi"

# lets use the search function to search for the given pattern.
print(re.search('Delhi', s1))
print(re.search('Mumbai', s1))
print(re.search('India', s1))

<re.Match object; span=(31, 36), match='Delhi'>
None
<re.Match object; span=(0, 5), match='India'>

* Split Function: Splits the string by the occurrences of the pattern and returns a list of substrings.

In [10]:
# lets take an example
s1 = "I love watching movies"

# lets use the split function to split the sentence based on whitespace
print(re.split('\s', s1))

['I', 'love', 'watching', 'movies']

* Sub Function:  Searches for all occurrences of the pattern in the string and replaces them with the given replacement string (repl).

In [11]:
# lets take an example
s1 = "I love watching movies"

# lets use the sub function, to replace whitespaces with @
print(re.sub('\s','@', s1))

I@love@watching@movies